body {
    background-color: lavender;
    font-size: 24px /* base font size */
}

.blurb {
    padding: 5%;
}

a {
    color: darkslateblue;
}
a:hover {
    color: darkblue;
}

#link-section {
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}

.link {
    padding: 5%;
    border: 1px;
    margin: 5%;
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    display: block;
}
.link:hover {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    #link-section {
        padding-left: 30%;
        padding-right: 30%;
    }
    .link {
        margin: 10%;
    }
}